{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block templates %}
{% endblock %}

{% block content %}
    <h2>Hi Stegosaurus!</h2>

    <h3>
        Looks like you're using one of the good'ol classic Internet Explorer versions.
    </h3>

    <p>
        Sadly we've only got one programmer working on Tick at the moment so we dont have time to get the site working in IE. 
        We're currently waiting for your $1,000,000 donation in order to fund that functionality but until then you'll have to try using a newer browser. 
        Might we suggest <a href='http://www.mozilla.org/en-US/firefox/new/'>Firefox</a>, <a href='https://www.google.com/intl/en/chrome/browser/'>Chrome</a> or <a href='http://www.apple.com/safari/'>Safari</a>?
    </p>
       
{% endblock %}

