{% extends "base.html" %}

{% block title %}- Setlist - {{name}}{% endblock %}

{% block onload %}
                var l = new chees.tick.List("output"{% if user_id %},{{user_id}}{% endif %});
                l.loadSetlist({{id}});
                var c = new chees.tick.Comments('comments',l,'{{id}}','setlist'{% if user_id %},'{{gravatar}}','{{user_id}}','{{user}}'{% endif %});
{% endblock %}


{% block templates %}

{% include "domplings/message.dompling" %}
{% include "domplings/loading.dompling" %}

{% include "domplings/listandtasks.dompling" %}
{% include "domplings/findsetlist.dompling" %}

{% include "domplings/setlistdialog.dompling" %}       
{% include "domplings/savedialog.dompling" %}
{% include "domplings/sharedialog.dompling" %}

{% include "domplings/comments.dompling" %}

{% endblock %}

{% block content %}
            <span class='slip setlistSlip bigSlip'>{{name}}</span> by <span class='slip tickuserSlip'><img src='{{owner.gravatar}}'></img><a href='/tick/tickuser/{{owner.id}}'>{{owner.tick_name|escape}}</a></span>
            
            <br><div class='objectActions' style='display: inline-block'>
                <form action="/tick/ticklists" method="post">
                    <input type='hidden' name='action' value='clone'/>
                    <input type='hidden' name='type_id' value="{{id}}"/>
                    create a new checklist of this type called <input type='text' name='name'/> <input type='submit' value='go!'/>
                </form>            
            </div>
            <p>
                {{description|escape}}
            </p>
            
            <div id="left">
                <div id="output"></div>
                <div id="help">
                    <h2>Help</h2>
                    <ul>
                        <li>Press <strong>Enter</strong> to begin adding an item. The new item is added after the currently selected item, or at the start of the list.</li>
                        <li><strong>Ctrl + M</strong> to see if there are any setlists matching the selected task.</li>
                        <li><strong>Up/Down</strong> keys or click an item to change your selection.</li>
                        <li><strong>Shift + Up/Down</strong> to select other items in the same group.</li>
                        <li><strong>Ctrl + Direction</strong> or drag an item to move the currently selected item.</li>
                        <li><strong>Ctrl + Del</strong> to delete the current item.</li>
                        <li><strong>Ctrl + E</strong> to edit the current item.</li>
                        <li><strong>Ctrl + Enter</strong> to mark/unmark the current item as completed.</li>
                        <li><strong>Esc</strong> cancels the current action.</li>
                    </ul>
                </div>        
            </div>

            <div id="comments"></div>
{% endblock %}



